- name: Build
  hosts: localhost
  gather_facts: false
  collections:
    - evgnomon.catamaran
  pre_tasks:
    - shell: |
        set -e
        pip install pipx
        pipx install poetry
        ~/.local/bin/poetry sync
        ~/.local/bin/poetry build
        ~/.local/bin/poetry env info
  roles:
    - role: z_secrets
    - role: z_defaults
    - role: z_build

- name: Publish Galaxy Collection
  hosts: localhost
  gather_facts: false
  collections:
    - evgnomon.catamaran
  roles:
    - role: z_galaxy_col
