name: Yacht

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - "*"
  delete:
    branches:
      - "*"
      - "!main"

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run yacht
        uses: evgnomon/yacht@main
        with:
          vault: ${{ secrets.VAULT_FILE }}
          vault_pass: ${{ secrets.VAULT_PASS }}

      - name: Cache uv dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('**/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-uv-
